[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "windfarmGA"]
	path = windfarmGA
	url = https://github.com/ysosirius/windfarmga
